/* FONTS */
@font-face {
  font-family: Inconsolata;
  src: url(font/Inconsolata_Condensed-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url(font/Inconsolata_Condensed-Bold.ttf);
  font-weight: bold;
}

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*********************************** GLOBAL ***********************************/

:root {
  --gold: #bd9d3d;
  --purple: #302e4d;
  --white: #e2e2e9;
  --dark: #54695d;
}

html {
  font-family: Inconsolata;
  font-size: 22px;
}

body {
  margin: 0;
  background: linear-gradient(
    to right,
    #424557,
    #333644,
    #252630,
    #16171d,
    #07080a
  );
  color: var(--white);
  max-width: 1700px;
}

/*********************************** NAVBAR ***********************************/

.menu {
  position: fixed;
  top: 0;
  left: -200px;
  height: 100vh;
  width: 200px;
  background: var(--dark);
  color: var(--white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: left 0.3s ease;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu.show {
  left: 0;
}

.menu .logo {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gold);
}

.menu .menu-links li a {
  display: block;
  padding: 20px 25px;
  color: black;
  transition: background 0.6s;
  background-image: linear-gradient(90deg, transparent 50%, var(--dark) 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.menu .menu-links li a:hover {
  background-position: 0;
  background-color: rgba(189, 157, 61, 0.2);
}

/************** ENGETO **************/

.engeto {
  font-family: Inconsolata;
  font-size: 20px;
  border: none;
}

.engeto a {
  color: red;
  background-color: var(--dark);
  padding: 20px 25px;
}

/************** Light Mode button **************/

.menu .mode {
  padding: 20px 0px;
}

.menu .mode button {
  color: var(--gold);
  background-color: var(--dark);
  border: 1px solid var(--gold);
  padding: 4px;
  border-radius: 5px;
  font-family: Inconsolata;
  font-size: 22px;
  width: 100%;
}

.menu .mode button:hover {
  cursor: pointer;
}

.menu .mode button img {
  width: 30px;
  margin: 0px 18px;
}

/************** Dark/Light Mode **************/

.darkMain {
  color: aqua;
  background-color: black;
}

.darkMode {
  display: none;
}

.lightMode {
  display: block;
}

/************** Hamburger **************/

.hamburger {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  background: none;
  border: none;
  transition: left 0.3s ease;
}

.hamburger.open {
  left: 220px;
}

.hamburger.open .bar {
  background: var(--white);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--gold);
  transition: background 0.3s;
}

/*********************************** FOOTER ***********************************/

footer {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/*********************************** MAIN ***********************************/

main {
  margin-left: 250px;
  max-width: 1360px;
  padding: 20px;
}

section {
  line-height: 1.5;
  text-align: justify;
  padding: 20px 0;
}

/* TAGS */

.html-tag {
  margin-left: 0px;
  color: var(--gold);
}

.body-tag {
  margin-left: 30px;
  color: var(--gold);
}

.header-tag {
  margin-left: 60px;
}

.other-tags {
  color: var(--gold);
}

/************** SECTIONS **************/
/************** Domů **************/

#section1 h1 {
  background-image: url(img/h1.jpg);
  background-size: cover;
  object-position: center;
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
  font-size: 50px;
}

.contact button {
  background-color: var(--purple);
  border: none;
  margin-top: 40px;
}

.contact button a {
  border: 2px solid var(--gold);
  color: var(--white);
  padding: 10px 40px;

  font-family: Inconsolata;
  font-size: 20px;
}

/************** Profil **************/

section .profil a {
  color: var(--gold);
}

/************** Dovednosti **************/

section .icons-html img {
  width: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/************** Portfolio **************/

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cards {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cards h3 {
  text-align: center;
  padding-bottom: 7px;
}

.text-wrapper {
  width: 60%;
}

.image-wrapper {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.image-wrapper img {
  width: 100%;
  border-radius: 10px;
  max-width: 300px;
  object-fit: contain;
}

.cards img:hover {
  transform: scale(1.05);
  transition: ease-in 0.2s;
}

.cards button {
  background-color: var(--purple);
  border: 2px solid var(--gold);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.cards button a {
  color: var(--white);
  font-family: Inconsolata;
  font-size: 17px;
}

.cards button:hover {
  transform: scale(1.05);
  transition: ease-in 0.2s;
}

/************** Kariéra **************/

#section5 .accordion-content {
  margin: 10px 0;
  overflow: hidden;
}

.accordion-content.open {
  padding-bottom: 10px;
}

.accordion-content header {
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: space-between;
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s linear;
}

.accordion-content.open header {
  min-height: 50px;
  color: var(--gold);
}

.accordion-content.open .dot {
  color: var(--gold);
}

.accordion-content .dot {
  transition: all 0.2s linear;
}

.accordion-content a {
  color: var(--gold);
}

.accordion-content .description {
  padding: 0 15px;
  height: 0;
  transition: all 0.2s linear;
  overflow: hidden;
  text-align: justify;
}

.accordion-content header .plus {
  font-size: 30px;
}

/************** Kontakt **************/

section .icons a:hover {
  color: var(--gold);
}

section .icons a {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 20px;
}

section .icons img {
  width: 43px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*********************************** BREAKPOINTS ***********************************/

/************** 1200 **************/

@media (max-width: 1200px) {
  /* portfolio */
  .image-wrapper {
    width: 40%;
    display: block;
  }

  .text-wrapper {
    width: 50%;
  }

  .image-wrapper {
    width: 50%;
  }
}

/************** 1150 **************/

@media (max-width: 1150px) {
  /* velikost písma */
  html {
    font-size: 20px;
  }

  #section1 h1 {
    font-size: 40px;
  }

  .navbar .menu li a {
    font-size: 20px;
  }

  .menu .mode button {
    font-size: 20px;
  }

  .contact button a {
    font-size: 20px;
  }
  .navbar .menu li span {
    font-size: 20px;
  }
  .accordion-content header {
    font-size: 23px;
  }

  section .icons-html img {
    width: 50px;
  }

  .cards button {
    padding: 8px 16px;
  }

  .cards button a {
    font-size: 15px;
  }

  section .icons img {
    width: 38px;
  }

  footer {
    font-size: 15px;
  }

  /* portfolio */
  .cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-wrapper {
    width: 100%;
  }

  .text-wrapper {
    width: 80%;
    text-align: justify;
  }
}

/************** 1000 **************/

@media (min-width: 1000px) {
  /* zmenšení menu */
  .menu {
    left: -270px;
    height: 100vh;
    width: 270px;
  }

  .hamburger.open {
    left: 290px;
  }

  /* main 70% */
  main {
    margin-left: 320px;
    width: 70%;
  }
}

@media (max-width: 1000px) {
  /* portfolio - pod sebou */
  .cards {
    flex-direction: column;
  }
}

/************** 800 **************/

/* zavření menu */
@media (max-width: 800px) {
  main {
    margin-left: 50px;
  }

  /* portfolio -borders */
  .cards {
    border-top: 2px solid var(--gold);
    padding: 10px;
    gap: 30px;
  }
}

/************** 600 **************/

@media (max-width: 600px) {
  /* velikost písma */
  html {
    font-size: 17px;
  }

  #section1 h1 {
    font-size: 30px;
  }

  .menu .menu-links li a {
    padding: 15px 25px;
  }

  .navbar .menu li a {
    font-size: 17px;
  }

  .contact button a {
    font-size: 17px;
  }

  .menu .mode button {
    font-size: 17px;
  }

  .navbar .menu li span {
    font-size: 17px;
  }

  .accordion-content header {
    font-size: 20px;
  }

  section .icons-html img {
    width: 40px;
  }

  .cards {
    gap: 20px;
  }

  .cards button {
    padding: 5px 10px;
  }

  .cards button a {
    font-size: 16px;
  }

  section .icons img {
    width: 33px;
  }

  footer {
    font-size: 13px;
  }
}
