/* FONTS */
@font-face {
  font-family: Inconsolata;
  src: url(font/Inconsolata_Condensed-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url(font/Inconsolata_Condensed-Bold.ttf);
  font-weight: bold;
}

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*********************************** COLORS ***********************************/

:root {
  /* dark mode colors*/
  --gold: #bd9d3d;
  --white: #e2e2e9;
  --purple: #b1afd0;
  --dark1: #514d82;
  --dark2: #44426e;
  --dark3: #38365a;
  --dark4: #2c2a46;
  --dark5: #1f1e32;
  --dark6: #13121e;
  /* light mode colors*/
  --red: #da372e;
  --black: #00004d;
  --pink: #ffc6c0;
  --light1: #ffffff;
  --light2: #fffbfb;
  --light3: #fff7f6;
  --light4: #e79a91;
}

/************** Dark/Light Mode **************/

.light {
  --backGround: linear-gradient(
    to right,
    var(--light1),
    var(--light2),
    var(--light3),
    var(--light4)
  );

  --buttons: linear-gradient(
    to right,
    var(--light1),
    var(--light2),
    var(--light3),
    var(--light4)
  );

  --navbar: var(--light3);
  --font: var(--black);
  --htmlTags: var(--red);
  --slide: var(--pink);
}

.dark {
  --backGround: linear-gradient(
    to right,
    var(--dark1),
    var(--dark2),
    var(--dark3),
    var(--dark4),
    var(--dark5),
    var(--dark6)
  );

  --buttons: linear-gradient(
    to right,
    var(--dark1),
    var(--dark2),
    var(--dark3),
    var(--dark4),
    var(--dark5),
    var(--dark6)
  );

  --navbar: var(--dark2);
  --font: var(--white);
  --htmlTags: var(--gold);
  --slide: var(--purple);
}

.lightMode {
  display: none;
}

.darkMode {
  display: block;
}

/*********************************** GLOBAL ***********************************/

html {
  font-family: Inconsolata;
  font-size: 22px;
}

body {
  margin: 0;
  max-width: 1700px;
  background: var(--backGround);
  color: var(--font);
  transition: all 0.7s linear;
}

/*********************************** NAVBAR ***********************************/

.menu {
  position: fixed;
  top: 0;
  left: -150px;
  height: 100vh;
  width: 150px;
  background: var(--navbar);
  transition: left 0.4s ease;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.menu.show {
  left: 0;
}

.menu .logo {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 0.5px dotted var(--font);
}

.menu .menu-links li a {
  border-bottom: 0.5px dotted var(--font);
  display: block;
  text-align: center;
  padding: 20px 25px;
  color: var(--font);
  transition: background 0.5s;
  background-image: linear-gradient(90deg, transparent 50%, var(--navbar) 50%);
  background-size: 200% 100%;
  background-position: 100%;
}

.menu .menu-links li a:hover {
  background-position: 0;
  background-color: var(--slide);
}

/************** ENGETO **************/

.engeto {
  font-family: Inconsolata;
  font-size: 20px;
  border: none;
}

.engeto a {
  color: red;
  background-color: var(--navbar);
  padding: 20px 25px;
}

/************** Mode button **************/

.menu .mode {
  padding: 20px 0px;
}

.menu .mode button {
  background-color: var(--navbar);
  border: none;
  font-family: Inconsolata;
  font-size: 22px;
  width: 100%;
}

.menu .mode button:hover {
  cursor: pointer;
}

.menu .mode button img {
  width: 30px;
}

/************** Hamburger **************/

.hamburger {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100;
  background: none;
  border: none;
  transition: left 0.4s ease;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger.open {
  left: 160px;
}

.hamburger.open .bar {
  background: var(--font);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--htmlTags);
  transition: background 0.4s;
}

/*********************************** FOOTER ***********************************/

footer {
  font-size: 16px;
  color: var(--htmlTags);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

/*********************************** MAIN ***********************************/

main {
  margin-left: 210px;
  padding: 20px;
}

section {
  line-height: 1.5;
  text-align: justify;
  padding: 20px 0;
}

/* TAGS */

.html-tag {
  margin-left: 0px;
  color: var(--htmlTags);
}

.body-tag {
  margin-left: 30px;
  color: var(--htmlTags);
}

.header-tag {
  margin-left: 60px;
}

.other-tags {
  color: var(--htmlTags);
}

/************** SECTIONS **************/
/************** Domů **************/

#section1 h1 {
  background-image: url(img/h1.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
}

.contact button {
  background-color: var(--buttons);
  border: none;
  margin-top: 40px;
}

.contact button a {
  border: 2px solid var(--htmlTags);
  color: var(--font);
  padding: 10px 40px;
  font-family: Inconsolata;
  font-size: 22px;
}

/************** Profil **************/

section .profil a {
  color: var(--htmlTags);
}

/************** Dovednosti **************/

section .icons-html img {
  width: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/************** Portfolio **************/

.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.cards {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cards h3 {
  text-align: center;
  padding-bottom: 7px;
}

.text-wrapper {
  width: 60%;
}

.image-wrapper {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.image-wrapper img {
  width: 100%;
  border-radius: 10px;
  max-width: 300px;
  object-fit: contain;
}

.cards img:hover {
  transform: scale(1.05);
  transition: ease-in 0.2s;
}

.cards button {
  background-color: var(--buttons);
  border: 2px solid var(--htmlTags);
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.cards button a {
  color: var(--font);
  font-family: Inconsolata;
  font-size: 17px;
}

.cards button:hover {
  transform: scale(1.05);
  transition: ease-in 0.2s;
}

/************** Kariéra **************/

#section5 .accordion-content {
  margin: 10px 0;
  overflow: hidden;
}

.accordion-content.open {
  padding-bottom: 10px;
}

.accordion-content header {
  display: flex;
  align-items: center;
  min-height: 50px;
  justify-content: space-between;
  font-size: 25px;
  color: var(--font);
  cursor: pointer;
  transition: all 0.2s linear;
}

.accordion-content.open header {
  min-height: 50px;
  color: var(--htmlTags);
}

.accordion-content.open .dot {
  color: var(--htmlTags);
}

.accordion-content .dot {
  transition: all 0.2s linear;
}

.accordion-content a {
  color: var(--htmlTags);
}

.accordion-content .description {
  padding: 0 15px;
  height: 0;
  transition: all 0.2s linear;
  overflow: hidden;
  text-align: justify;
}

.accordion-content header .plus {
  font-size: 30px;
}

/************** Kontakt **************/

section .icons a:hover {
  color: var(--htmlTags);
}

section .icons a {
  color: var(--font);
  display: flex;
  align-items: center;
  gap: 20px;
}

section .icons img {
  width: 43px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*********************************** BREAKPOINTS ***********************************/

/************** 1200 **************/

@media (max-width: 1200px) {
  /* portfolio */
  .image-wrapper {
    width: 40%;
    display: block;
  }

  .text-wrapper {
    width: 50%;
  }

  .image-wrapper {
    width: 50%;
  }
}

/************** 1150 **************/

@media (max-width: 1150px) {
  /* velikost písma */
  html {
    font-size: 20px;
  }

  #section1 h1 {
    font-size: 40px;
  }

  .navbar .menu li a {
    font-size: 20px;
  }

  .contact button a {
    font-size: 20px;
  }
  .navbar .menu li span {
    font-size: 20px;
  }
  .accordion-content header {
    font-size: 23px;
  }

  section .icons-html img {
    width: 50px;
  }

  .cards button {
    padding: 8px 16px;
  }

  .cards button a {
    font-size: 15px;
  }

  section .icons img {
    width: 38px;
  }

  footer {
    font-size: 15px;
  }

  /* portfolio */
  .cards {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-wrapper {
    width: 100%;
  }

  .text-wrapper {
    width: 80%;
    text-align: justify;
  }

  /* logo zmenšení */
  .menu .logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/************** 1000 **************/

@media (min-width: 1000px) {
  /* main 70% */
  main {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  /* portfolio - pod sebou */
  .cards {
    flex-direction: column;
  }
}

/************** 800 **************/

/* zavření menu */
@media (max-width: 800px) {
  main {
    margin-left: 50px;
  }

  .menu {
    left: -150px;
  }

  .menu .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* portfolio -borders */
  .cards {
    border-top: 2px solid var(--htmlTags);
    padding: 5px;
    gap: 30px;
    margin-top: 5px;
  }
}
/************** 600 **************/

@media (max-width: 600px) {
  /* velikost písma */
  html {
    font-size: 17px;
  }

  #section1 h1 {
    font-size: 30px;
  }

  .menu .menu-links li a {
    padding: 15px 25px;
  }

  .navbar .menu li a {
    font-size: 17px;
  }

  .contact button a {
    font-size: 17px;
  }

  .navbar .menu li span {
    font-size: 17px;
  }

  .accordion-content header {
    font-size: 20px;
  }

  section .icons-html img {
    width: 40px;
  }

  .cards {
    gap: 20px;
  }

  .cards button {
    padding: 5px 10px;
  }

  .cards button a {
    font-size: 16px;
  }

  section .icons img {
    width: 33px;
  }

  footer {
    font-size: 13px;
  }

  /* logo zmenšení */
  .menu .logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.arrow {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  border: 2px solid;
  border-radius: 4px;
  color: var(--htmlTags);
  transition: left 0.4s ease;
}

.arrow:hover {
  cursor: pointer;
}

.arrow::after,
.arrow::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 6px;
}

.arrow::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 8px;
}

.arrow::before {
  width: 2px;
  height: 10px;
  left: 10px;
  background: currentColor;
}

.arrow.open {
  left: 160px;
}

.arrow.open {
  color: var(--font);
}
